OPENAI_API_KEY=replace_your_openAI_key_here
API_HOST=http://127.0.0.1:8000

#Docker
IMAGE=chatbot


#GCP Project
GCP_PROJECT=replace_your_project_name_here
GCP_REGION=europe-west1

GCR_REGION=eu.gcr.io
GCR_MEMORY=2Gi

GOOGLE_APPLICATION_CREDENTIALS=/home/<replace_your_ubuntu_user>/code/<replace_your_github_nickname>/gcp/<replace_your_file_name_here>.json
